@media (min-width: 200px) and (max-width: 500px) {
  body {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400, 700;
    padding: 0;
    margin: 0;
  }
  header {
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: hsl(209, 100%, 88%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0%;
    width: 90%;
    justify-content: space-between;
    margin: 1rem;
  }
  header nav #logo img {
    width: 8rem;
  }
  header nav #try_it {
    background-color: white;
    padding: 0.1rem 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 9rem;
    font-size: 0.77rem;
    transition: 2s;
  }
  header nav #try_it:hover {
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    font-size: 0.8rem;
  }
  header nav #try_it a {
    text-decoration: none;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
  }
  header main {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
  }
  header main .main_head {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  header main .main_head h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5vw;
  }
  header main .main_head p {
    font-size: 2.9vw;
    margin: 0 2rem 0 2rem;
  }
  header main .main_head a {
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    transition: 2s;
    width: 50%;
    margin: auto;
  }
  header main .main_head a:hover {
    box-sizing: border-box;
    box-shadow: hsla(323, 95%, 68%, 0.294) 2px 3px 5px 2px;
  }
  header main .main_img {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  header main .main_img img {
    width: 20rem;
    transition: 2s;
  }
  header main .main_img img:hover {
    width: 22rem;
  }
  section {
    margin-top: 5rem;
  }
  section .section_flex {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  section .section_flex .flex_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_1 .flex_1_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  section .section_flex .flex_1 .flex_1_content p {
    font-size: 2.9vw;
  }
  section .section_flex .flex_1 .flex_1_img img {
    width: 15rem;
    margin-top: 3rem;
    transition: 2s;
  }
  section .section_flex .flex_1 .flex_1_img img:hover {
    width: 16rem;
  }
  section .section_flex .flex_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_2 .flex_2_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  section .section_flex .flex_2 .flex_2_content p {
    font-size: 2.9vw;
  }
  section .section_flex .flex_2 .flex_2_img img {
    width: 15rem;
    margin-top: 3rem;
    transition: 2s;
  }
  section .section_flex .flex_2 .flex_2_img img:hover {
    width: 16rem;
  }
  section .section_flex .flex_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_3 .flex_3_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  section .section_flex .flex_3 .flex_3_content p {
    font-size: 2.9vw;
  }
  section .section_flex .flex_3 .flex_3_img img {
    width: 15rem;
    margin-top: 3rem;
    transition: 2s;
  }
  section .section_flex .flex_3 .flex_3_img img:hover {
    width: 16rem;
  }
  footer #float_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem 0.4rem 2rem 0.4rem;
    margin: 0.5rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 3px 0 7px 1px;
    border-radius: 1rem;
    border: none;
    gap: 0.5rem;
    position: relative;
    top: 3rem;
  }
  footer #float_footer h4 {
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  footer #float_footer a {
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: smaller;
    font-weight: 500;
  }
  footer .main_footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  footer .main_footer img#logo {
    padding: 1rem;
    padding-left: 2rem;
    width: 10rem;
  }
  footer .main_footer ul {
    list-style: none;
    color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
  }
  footer .main_footer ul #list_1 {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding-right: 0.5rem;
  }
  footer .main_footer ul li {
    padding-bottom: 0.2rem;
  }
  footer .main_footer ul li a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
  }
  footer .main_footer .ending {
    color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    font-size: small;
  }
  footer .main_footer .ending .icon {
    padding-bottom: 1rem;
  }
  footer .main_footer .ending .icon #ico_1, footer .main_footer .ending #ico_2, footer .main_footer .ending #ico_3 {
    border: 1px solid hsl(193, 100%, 96%);
    padding: 0.5rem;
    border-radius: 2rem;
  }
  footer .main_footer p {
    color: hsl(193, 100%, 96%);
    font-size: 2.5vw;
  }
  footer .main_footer p a {
    text-decoration: none;
    color: hsl(208, 11%, 55%);
  }
}
@media screen and (min-width: 501px) {
  body {
    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400, 700;
    padding: 0;
    margin: 0;
  }
  header {
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(209, 100%, 88%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0%;
    width: 92%;
    justify-content: space-between;
    margin-top: 2rem;
  }
  header nav #logo img {
    width: 10rem;
  }
  header nav #try_it {
    background-color: white;
    padding: 0.1rem 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 9rem;
    font-size: 0.77rem;
    margin-right: 1rem;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    font-size: 0.8rem;
    transition: 1s;
  }
  header nav #try_it:hover {
    box-sizing: border-box;
    box-shadow: hsla(309, 11%, 12%, 0.394) 2px 1px 5px 1px;
  }
  header nav #try_it a {
    text-decoration: none;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
  }
  header main {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 1remvw;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    width: 95%;
  }
  header main .main_head {
    display: flex;
    flex-direction: column;
    bottom: 9rem;
    gap: 0.5rem;
  }
  header main .main_head h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    font-size: 3vw;
  }
  header main .main_head p {
    text-align: left;
    font-size: 1.5vw;
  }
  header main .main_head a {
    text-decoration: none;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5rem;
    width: 45%;
    font-size: 1.2vw;
    font-weight: 500;
    transition: 1s;
  }
  header main .main_head a:hover {
    box-sizing: border-box;
    box-shadow: hsla(312, 88%, 17%, 0.482) 3px 2px 7px 3px;
  }
  header main .main_img {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  header main .main_img img {
    width: 45vw;
    transition: 2s;
  }
  header main .main_img img:hover {
    width: 47vw;
  }
  section {
    margin-top: 5rem;
  }
  section .section_flex {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    gap: 1rem;
  }
  section .section_flex .flex_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    text-align: left;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_1 .flex_1_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 2rem;
    font-size: 2vw;
  }
  section .section_flex .flex_1 .flex_1_content p {
    font-size: 1.2vw;
    margin-left: 2rem;
  }
  section .section_flex .flex_1 .flex_1_img img {
    width: 25vw;
    margin-top: 1rem;
    transition: 2s;
  }
  section .section_flex .flex_1 .flex_1_img img:hover {
    width: 26vw;
  }
  section .section_flex .flex_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between;
    gap: 7rem;
    text-align: left;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_2 .flex_2_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
  }
  section .section_flex .flex_2 .flex_2_content p {
    font-size: 1.2vw;
  }
  section .section_flex .flex_2 .flex_2_img img {
    width: 25vw;
    margin-top: 1rem;
    transition: 2s;
    margin-left: 2rem;
  }
  section .section_flex .flex_2 .flex_2_img img:hover {
    width: 26vw;
  }
  section .section_flex .flex_3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
    text-align: left;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 1px 1px 3px 2px;
    padding: 1rem;
  }
  section .section_flex .flex_3 .flex_3_content h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 2rem;
    font-size: 2vw;
  }
  section .section_flex .flex_3 .flex_3_content p {
    font-size: 1.2vw;
    margin-left: 2rem;
  }
  section .section_flex .flex_3 .flex_3_img img {
    width: 25vw;
    margin-top: 1rem;
    transition: 2s;
  }
  section .section_flex .flex_3 .flex_3_img img:hover {
    width: 26vw;
  }
  footer #float_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem 0.4rem 2rem 0.4rem;
    margin: auto;
    box-sizing: border-box;
    box-shadow: hsla(190, 23%, 75%, 0.241) 3px 0 7px 1px;
    border-radius: 1rem;
    border: none;
    gap: 0.5rem;
    position: relative;
    top: 3rem;
    width: 50%;
  }
  footer #float_footer h4 {
    font-family: "Poppins", sans-serif;
    font-size: large;
    font-weight: 300;
    font-style: normal;
    text-align: center;
  }
  footer #float_footer a {
    text-decoration: none;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: smaller;
    font-weight: 500;
    transition: 1s;
  }
  footer #float_footer a:hover {
    box-sizing: border-box;
    box-shadow: hsla(312, 88%, 17%, 0.482) 3px 2px 7px 3px;
  }
  footer .main_footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
  }
  footer .main_footer img#logo {
    padding: 1rem;
    padding-left: 2rem;
    width: 10rem;
  }
  footer .main_footer .footer_nav {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
  }
  footer .main_footer ul {
    list-style: none;
    color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    font-size: 1.2vw;
  }
  footer .main_footer ul #list_1 {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    padding-right: 0.5rem;
  }
  footer .main_footer ul li {
    padding-bottom: 0.5rem;
  }
  footer .main_footer ul li a {
    text-decoration: none;
    color: hsl(193, 100%, 96%);
  }
  footer .main_footer .ending {
    color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin: 0.5rem;
    font-size: small;
  }
  footer .main_footer .ending p {
    margin-right: 1.2rem;
    font-size: 1.5vw;
  }
  footer .main_footer .ending .icon {
    padding-bottom: 1rem;
  }
  footer .main_footer .ending .icon #ico_1, footer .main_footer .ending #ico_2, footer .main_footer .ending #ico_3 {
    border: 1px solid hsl(193, 100%, 96%);
    padding: 0.5rem;
    border-radius: 2rem;
  }
  footer .main_footer p {
    color: hsl(193, 100%, 96%);
  }
  footer .main_footer p a {
    text-decoration: none;
    color: hsl(208, 11%, 55%);
  }
}

/*# sourceMappingURL=index.css.map */
